.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icon {
  position: relative;
}
.screen-header__icon span {
  margin-left: 15px;
}

.screen-header__noti_dot {
  width: 6px;
  height: 6px;
  background-color: tomato;
  display: block;
  border-radius: 3px;
  position: absolute;
  top: -10px;
  right: -5px;
}
