#friends-display-link {
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 0;
  background-color: #fafafa;
  margin-top: -10px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 30px;
  border-top: 1px solid #ececec;
  padding-top: 15px;
}

.friends-screen__channer-header {
  display: flex;
  justify-content: space-between;
  color: #999;
  margin-bottom: 30px;
}

@keyframes splashHidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: splashHidden 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
